<html>
   <head>
        <title>

        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
        <script>
               function imgError(image) {
               image.onerror = "";
               image.src = "/icons/default.png";
               return true;

               function redirectDept(dept){
                    //window.location.href = "/schedule/"{$}
               }

               function logInput() {
                    console.log("test");
               }
}
        </script>
        <meta name="viewport" content="width=device-width, user-scalable=no" />


   </head>