<div class="side-nav">
    <div class="side-nav-panel">
        <div class="side-nav-button-bin">
            <div >
                <button class="side-nav-button-inactive"><a href="/"><img src="images/solar_home-2-broken.svg" alt=""></a></button>
            </div>
            <div >
                <button class="side-nav-button-inactive"><a href="/calendar"><img src="images/solar_calendar-broken.svg" alt=""></a></button>
            </div>
            <div >
                <button class="side-nav-button-inactive"><a href="/archive"><img src="images/solar_archive-check-broken.svg" alt=""></a></button>
            </div>
            <div >
                <button class="side-nav-button-inactive"><a href="/tasks"><img  src="images/Group 4.svg" alt=""></a></button>
            </div>
        </div>
        
        
    </div>
</div>