<div class="top-nav">
    <div class="home">
        <button class="home-button">
            <img src="images/solar_home-2-broken.svg" alt="">
            <a>Home</a>
        </button>
    </div>
    <div class="add-task">
        <button><a onclick= popUpTask() >Add Task</a></button>
    </div>
</div>