<div class="top-nav">
    <div class="route-icon-div">
        <button class="home-button">
            <!-- Here I need to find away to apply conditional rendering for imgUrl -->
            <img id="top-nav-img" src= "images/solar_home-2-broken.svg" alt="">
            <a id="top-nav-a">Home</a>
        </button>
    </div>
    <div class="add-task">
        <button><a onclick= popUpTask()>Add Task</a></button>
    </div>
</div>